<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.epam.esm">


    </context:component-scan>

    <context:property-placeholder location="classpath:application-prod.properties"/>

    <!-- Initialization for data source -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value=" ${driver-class-name}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${myUsername}"/>
        <property name="password" value="${password}"/>
    </bean>

    <bean id="h2Source"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${test_url}"/>
        <property name="username" value="${myUsername}"/>
        <property name="password" value="${password}"/>
    </bean>


    <bean id="certificateDAO" class="com.epam.esm.dao.impl.CertificateDAOImpl">
        <constructor-arg ref="dataSource">

        </constructor-arg>
    </bean>

    <bean id="tagDAO" class="com.epam.esm.dao.impl.TagDAOImpl">
        <constructor-arg ref="dataSource">

        </constructor-arg>
    </bean>

</beans>
